In [1]:
# import the CSV table exported from postgres

import pandas as pd
vine = pd.read_csv('vine_table.csv')
vine.head()

C:\Users\italebinejad\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1002OCUHG9RB2,4.0,0.0,0.0,N,Y
1,R1009FXGIMJ5A8,1.0,0.0,2.0,N,Y
2,R100B5W7AF3U5Y,5.0,0.0,2.0,N,Y
3,R100L00EV9JBCG,5.0,0.0,0.0,N,Y
4,R100P3GPMNRH4B,5.0,0.0,0.0,N,Y

In [8]:
# filter data for total votes >20
vine_votes_df=vine[vine["total_votes"]>=20]

In [13]:
# add a column for helpfull votes ratio
vine_votes_df["helpfull_votes_ratio"]=vine_votes_df["helpful_votes"]/vine_votes_df["total_votes"]

C:\Users\italebinejad\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
vine_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfull_votes_ratio
291,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y,0.969697
330,R10F88Z49OG09R,5.0,151.0,160.0,N,N,0.943750
496,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y,0.851852
708,R110I5XKJQZZIO,1.0,1.0,30.0,N,Y,0.033333
738,R113RAK87V3AML,1.0,33.0,38.0,N,Y,0.868421

In [16]:
# filter df for helpfull votes >= 50%

vine_helpfull_df=vine_votes_df[vine_votes_df["helpfull_votes_ratio"]>=0.5]

In [17]:
vine_helpfull_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfull_votes_ratio
291,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y,0.969697
330,R10F88Z49OG09R,5.0,151.0,160.0,N,N,0.943750
496,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y,0.851852
738,R113RAK87V3AML,1.0,33.0,38.0,N,Y,0.868421
818,R11BW6O1XCA6W5,3.0,22.0,25.0,N,Y,0.880000

In [22]:
# filter df for the reviews written as part of the Vine program (paid)

vine_vin_Y_df=vine_helpfull_df[vine_helpfull_df["vine"]=="Y"]

In [23]:
vine_vin_Y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfull_votes_ratio
3633,R15CNHFEBV35GK,5.0,149.0,166.0,Y,Y,0.897590
5336,R187S0YOCFNVIT,5.0,76.0,80.0,Y,N,0.950000
17681,R1PW5D3I6DBP8V,5.0,25.0,28.0,Y,N,0.892857
24568,R20T9GECL50CG0,4.0,21.0,27.0,Y,N,0.777778
25408,R22R1U9HMSLBLM,3.0,54.0,57.0,Y,N,0.947368

In [24]:
# filter df for the reviews not written as part of the Vine program (unpaid)

vine_vin_N_df=vine_helpfull_df[vine_helpfull_df["vine"]=="N"]

In [25]:
vine_vin_N_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfull_votes_ratio
291,R10A9A8T32ALIY,5.0,32.0,33.0,N,Y,0.969697
330,R10F88Z49OG09R,5.0,151.0,160.0,N,N,0.943750
496,R10WUVF0P1MX0K,5.0,23.0,27.0,N,Y,0.851852
738,R113RAK87V3AML,1.0,33.0,38.0,N,Y,0.868421
818,R11BW6O1XCA6W5,3.0,22.0,25.0,N,Y,0.880000

In [27]:
# total helpfull votes

total_reviews=vine_helpfull_df[vine_helpfull_df.columns[0]].count()
total_reviews

65581

In [33]:
# total helpfull votes with star rating = 5

total_5_reviews=vine_helpfull_df[vine_helpfull_df["star_rating"]=="5"]
total_5_reviews_n=len(total_5_reviews.index)
total_5_reviews_n

925

In [34]:
# total helpfull votes for vin =Y and star rating = 5  

total_5_reviews_Y=vine_vin_Y_df[vine_vin_Y_df["star_rating"]=="5"]
total_5_reviews_Y_n=len(total_5_reviews_Y.index)
total_5_reviews_Y_n

9

In [35]:
# total helpfull votes for vin =N and star rating = 5  

total_5_reviews_N=vine_vin_N_df[vine_vin_N_df["star_rating"]=="5"]
total_5_reviews_N_n=len(total_5_reviews_N.index)
total_5_reviews_N_n

916

In [44]:
# percentage of helpfull votes for vin =Y and star rating = 5 

total_5_reviews_Y_per=total_5_reviews_Y_n/total_5_reviews_n
print("{:.2%}".format(total_5_reviews_Y_per))

0.97%

In [45]:
# percentage of helpfull votes for vin =N and star rating = 5 

total_5_reviews_N_per=total_5_reviews_N_n/total_5_reviews_n
print("{:.2%}".format(total_5_reviews_N_per))

99.03%