In [4]:
# import the CSV table exported from postgres

import pandas as pd
vine = pd.read_csv('vine_table.csv')
vine.head()

C:\Users\italebinejad\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase
0,R3W4P9UBGNGH1U,1.0,N,2,3.0,Y
1,R15V54KBMTQWAY,0.0,N,4,0.0,N
2,RY8I449HNXSVF,0.0,N,5,0.0,Y
3,R18TLJYCKJFLSR,0.0,N,5,0.0,Y
4,R1NK26SWS53B8Q,0.0,N,5,0.0,Y

In [5]:
len(vine)

9002021

In [6]:
# filter data for total votes >20
vine_votes_df=vine[vine["total_votes"]>=20]
len(vine_votes_df)

72587

In [7]:
vine_votes_df.dtypes

review_id             object
helpful_votes        float64
vine                  object
star_rating           object
total_votes          float64
verified_purchase     object
dtype: object

In [8]:
vine_votes_df['star_rating'] = pd.to_numeric(vine_votes_df['star_rating'])

C:\Users\italebinejad\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
vine_votes_df.dtypes

review_id             object
helpful_votes        float64
vine                  object
star_rating          float64
total_votes          float64
verified_purchase     object
dtype: object

In [10]:
# add a column for helpfull votes ratio
vine_votes_df["helpfull_votes_ratio"]=vine_votes_df["helpful_votes"]/vine_votes_df["total_votes"]

C:\Users\italebinejad\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
vine_votes_df.head()

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase,helpfull_votes_ratio
116,R2WOW0TURNXB26,54.0,N,3.0,59.0,Y,0.915254
197,R13VL62Y2HBQ0B,15.0,N,5.0,21.0,Y,0.714286
307,R22G55KAPZKJQV,20.0,N,4.0,21.0,Y,0.952381
1012,R1610PGTJS7G3N,28.0,N,2.0,44.0,Y,0.636364
2265,RLQL04BL0QXOJ,45.0,N,4.0,47.0,Y,0.957447

In [12]:
# filter df for helpfull votes >= 50%

vine_helpfull_df=vine_votes_df[vine_votes_df["helpfull_votes_ratio"]>=0.5]

In [13]:
vine_helpfull_df.head()

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase,helpfull_votes_ratio
116,R2WOW0TURNXB26,54.0,N,3.0,59.0,Y,0.915254
197,R13VL62Y2HBQ0B,15.0,N,5.0,21.0,Y,0.714286
307,R22G55KAPZKJQV,20.0,N,4.0,21.0,Y,0.952381
1012,R1610PGTJS7G3N,28.0,N,2.0,44.0,Y,0.636364
2265,RLQL04BL0QXOJ,45.0,N,4.0,47.0,Y,0.957447

In [14]:
len(vine_helpfull_df)

65581

In [15]:
# filter df for the reviews written as part of the Vine program (paid)

vine_vin_Y_df=vine_helpfull_df[vine_helpfull_df["vine"]=="Y"]

In [16]:
vine_vin_Y_df.head()

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase,helpfull_votes_ratio
7585,R1MAOLI5FJHAFM,249.0,Y,4.0,261.0,N,0.954023
13291,R9PYAUDIBJVEC,12.0,Y,4.0,22.0,N,0.545455
23444,R6V9SHMMG5M8F,101.0,Y,5.0,110.0,N,0.918182
38024,R37PVLT6ELL5J4,181.0,Y,4.0,209.0,N,0.866029
88492,R2FSFGWZF24V9,50.0,Y,4.0,51.0,N,0.980392

In [17]:
len(vine_vin_Y_df)

613

In [18]:
# filter df for the reviews not written as part of the Vine program (unpaid)

vine_vin_N_df=vine_helpfull_df[vine_helpfull_df["vine"]=="N"]

In [19]:
vine_vin_N_df.head()

,review_id,helpful_votes,vine,star_rating,total_votes,verified_purchase,helpfull_votes_ratio
116,R2WOW0TURNXB26,54.0,N,3.0,59.0,Y,0.915254
197,R13VL62Y2HBQ0B,15.0,N,5.0,21.0,Y,0.714286
307,R22G55KAPZKJQV,20.0,N,4.0,21.0,Y,0.952381
1012,R1610PGTJS7G3N,28.0,N,2.0,44.0,Y,0.636364
2265,RLQL04BL0QXOJ,45.0,N,4.0,47.0,Y,0.957447

In [20]:
len(vine_vin_N_df)

64968

In [21]:
# total helpfull votes for vin =Y and star rating = 5  
total_5_reviews_Y=vine_vin_Y_df[vine_vin_Y_df["star_rating"]==5]
total_5_reviews_Y_n=len(total_5_reviews_Y.index)
total_5_reviews_Y_n

222

In [22]:
# total helpfull votes for vin =N and star rating = 5  
total_5_reviews_N=vine_vin_N_df[vine_vin_N_df["star_rating"]==5]
total_5_reviews_N_n=len(total_5_reviews_N.index)
total_5_reviews_N_n

30543

In [23]:
# percentage of paid votes with star rating = 5 
total_5_reviews_Y_per=total_5_reviews_Y_n/len(vine_vin_Y_df)
print("{:.2%}".format(total_5_reviews_Y_per))

36.22%

In [24]:
# percentage of unpaid votes with star rating = 5 
total_5_reviews_N_per=total_5_reviews_N_n/len(vine_vin_N_df)
print("{:.2%}".format(total_5_reviews_N_per))

47.01%